[user]
    email = mnthe.dev@gmail.com
    name = JungHun Kim
    signingkey = B607F4EFB0F5D95E

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[push]
    gpgsign = true

[rerere]
    enabled = true

[color]
    ui = auto

[core]
    eol = lf
    safecrlf = warn
    autocrlf = input

    excludesfile = ~/.gitignore
    whitespace=-indent-with-non-tab,trailing-space,cr-at-eol

[push]
    default = upstream
    autoSetupRemote = true
    followTags = true

[pull]
    ff = only
    rebase = true

[fetch]
    prune = true
    pruneTags = true

[core]
    editor = code --wait

[diff]
    mnemonicPrefix = true
    renames = true
    wordRegex = .
    submodule = log
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[pack]
    packSizeLimit = 100m
    threads = 1
    deltaCacheSize = 512m
    windowMemory = 100m


[alias]
    undo = reset --soft HEAD^
    stash-all = stash save --include-untracked
    l = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(red)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    pu = !git push -u origin `git branch --show-current`
    puf = push --force-with-lease
    ro = "!f() { git fetch && git rebase origin/$@; }; f"
    rop = "!f() { git ro $@ && git pu; }; f"

[tag]
    sort = version:refname

[versionsort]
    prereleaseSuffix = -pre
    prereleaseSuffix = .pre
    prereleaseSuffix = -alpha
    prereleaseSuffix = .alpha
    prereleaseSuffix = -beta
    prereleaseSuffix = .beta
    prereleaseSuffix = -rc
    prereleaseSuffix = .rc
